@import "../../constant/theme.scss";
.form-control {
    // height: ;
    padding: 0 24px;
    border: none;
    background: transparent;
    border-radius: $BORDER_RADIUS_SMALL;
    border: 1px solid $COLOR_PRIMARY;
    // color: var(--greyDark-2);
    font-family: inherit;
    // font-size: 1.4rem;
    &::placeholder {
        opacity: 0.5;
        font-size: inherit;
        letter-spacing: 0.12rem;
    }
    &:focus {
        outline: none;
    }
    &:hover {
        border: 1px solid $COLOR_PRIMARY_LIGHT;
    }
}
