@import "../../constant/theme.scss";

.button-container {
    cursor: pointer;
    padding: 8px 24px;
    border-radius: $BORDER_RADIUS_SMALL;
    user-select: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: $COLOR_PRIMARY;
}
.color-primary {
    background-color: $COLOR_PRIMARY;
}
.color-red {
    background-color: $COLOR_RED;
}
