$color: #494949;
.root-container {
    height: 100vh;
    margin: 0;
    padding: 32px;
    background-color: #f5f6fa;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    color: $color;
    box-sizing: border-box;

    h2 {
        margin: 0 auto 32px;
    }

    .action-outer {
        display: flex;
        margin-bottom: 32px;
        input {
            margin-right: 16px;
        }
    }
    .content-outer {
        display: flex;
        flex-direction: column;
        .btn-outer {
            margin-top: 32px;
            max-width: 100px;
            align-self: flex-end;
        }
    }
    .list-wraper {
        height: calc(100% - 134px);
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .list-container {
        height: fit-content;
        padding-right: 32px;
    }
    .list-container::-webkit-scrollbar {
        display: none;
    }
}
