@import "../../constant/theme.scss";

.card-container {
    padding: 16px 24px;
    margin: 16px 0;
    border-radius: $BORDER_RADIUS_MEDIUM;
    display: flex;
    align-items: center;
    background-color: white;
    position: relative;
    box-shadow: $SHADOW_PRIMARY;
    .--btn-delete {
        // transition: all 150ms linear;
        visibility: hidden;
        position: absolute;
        top: 16px;
        right: 24px;
    }
    &:hover {
        box-shadow: $SHADOW_PRIMARY_HOVER;
        .--btn-delete {
            visibility: visible;
        }
    }
}
