@import "../../constant/theme.scss";
.form-control {
    padding: 0 24px;
    border: none;
    background: transparent;
    border-radius: $BORDER_RADIUS_SMALL;
    border: 1px solid white;
    background-color: white;
    font-family: inherit;
    &::placeholder {
        opacity: 0.5;
        font-size: inherit;
        letter-spacing: 0.12rem;
    }
    &:focus {
        outline: none;
    }
    &:hover {
        border: 1px solid $COLOR_PRIMARY;
    }
}
